*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #353535 ;   
}
.page1{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}

.tulisan{
    margin-top: 140px;
    margin-left: 170px;
    display: flex;
    flex-direction: column;
}

h1{
    font-size: 85px;
    font-family: Arial, Helvetica, sans-serif;
    color: #948184 ;
}

h2{
    font-size: 35px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;    
}

h3{
    font-size: 20px;
    color : white;
    margin-top: 2px;
    font-weight: lighter;
}

img{
    margin-left: 200px;
    margin-top: -29px;
}

button{
    margin-top: 50px;
    margin-right: 50px;
    font-size: 15px;
    color: #948184;
    border-color: white;
    background-color:pink;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 10px;
    border-width: 3px;
}

.page2{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
}


.deskripsi{
    color: white;
    
    text-align: center;

}

#Aboutme{
    font-size: 20px;
    padding-top: 80px;
}

.Datadiri{
    margin-top: 70px;
    display: flex;
    flex-direction: row;

}

.profile{
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.profilekolommaster{
    display: flex;
    flex-direction: row;
    text-align: center;
}

.profilekolom1{
    margin-right: 50px;
}

#judul{
    font-size: 20px;
    text-align: center;
    padding-bottom: 50px;
}

#semijudul{
    font-size: 20px;
    font-weight: bolder;

}

.akademik{
    margin-left: 200px;
}

table{
    color: white;
    text-align: center;
}

.page3{
    margin-top: 100px;
    display: flex;
    background-color: black;
    flex-direction: column;
    
}

#contact{
    font-size: 40px;
    color: white;
    font-weight: lighter;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.sosialmedia{
    display: flex;
    flex-direction: row;
    padding-bottom: 50px;
   padding-right: 50px;
   padding-left: 250px;
}

#sosmed{
    padding-top: 50px;
   width: 70px;
   height: 70px;
}